{% extends "dashboard/base.html" %}

{% block content %}



<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 ">
      {% include "contacts/snippets/contact-card.html" with contact=contact detail=True %}
  </div>

</section>

<div>
  <canvas id="myChart"></canvas>
</div>

<div id="my-data">
  {{ analytics|json_script:"analytics" }}
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.1/dist/chart.umd.min.js"></script>

<script>
  const analyticsData = JSON.parse(document.getElementById("analytics").textContent)
  console.log(analyticsData)
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        label: '# of Votes',
        data: [12, 19, 3, 5, 2, 3],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

{% endblock content %}
